.advantages {
  background-color: @white;
  color: @main-blue;
  padding-top: 44px;

  .advantages__intro-text {
    color: @main-blue;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    .clean;
    margin-bottom: 30px;
  }

  .advantages__list--wrapper {
    background-color: @bg-grey;
    padding-top: 52px;
  }

  .advantages__list {
    .clean-list;
    text-align: center;

    .advantages__title {
      color: @black;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;

      margin-bottom: 16px;
    }

    .advantages__description {
      color: @main-blue;
      font-size: 14px;
      line-height: 24px;
      font-weight: normal;

      width: 280px;
      margin: 0 auto;
      margin-bottom: 38px;
    }
  }

  .advantages__image {
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
    width: 157px;
    height: 320px;
    background-color: @bg-grey;
    margin: 0 auto;
  }
}
