.contacts {
  background-color: @white;
  text-align: center;

  padding-top: 46px;
  padding-bottom: 38px;

  .contacts__slogan {
    color: @main-blue;
    font-size: 24px;
    line-height: 1.2;
    font-weight: lighter;

    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .contacts__list {
    .clean-list;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contacts__title {
    color: @main-blue;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;

    margin-top: 0;
    margin-bottom: 5px;
  }

  .contacts__text {
    color: @pink;
    font-size: 24px;
    line-height: 1.2;
    font-weight: lighter;

    margin-top: 0;
    margin-bottom: 22px;

    a {
      .link;
      color: @pink;
    }
  }
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 645px;
}
