.page-footer--index {
  display: none;
}

.page-footer__wrapper {
  width: 180px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.social__list {
  .clean-list;
  width: 180px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.social__item {
  width: 45px;
  height: 45px;
  background-color: @white;
  border: 3px solid @grey-social;
  border-radius: 30px;

  vertical-align: middle;
}

.social__link {
  .link;
}

.social__link--twitter {
  background: url("../img/icon-twitter.svg") no-repeat;
}

.social__link--facebook {
  background: url("../img/icon-facebook.svg") no-repeat;
}

.social__link--youtube {
  background: url("../img/icon-youtube.svg") no-repeat;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    width: 620px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__copyright {
    width: 130px;
    display: flex;
  }

  .social__list {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
