.page-main__title-image {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @main-blue;
  width: 320px;
  min-height: 133px;
  text-align: center;

  padding-top: 33px;
}

.page-main__title {
  color: @white;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main__title-image {
    width: 660px;
    height: 255px;
    text-align: center;
    padding-top: 75px;
  }

  .page-main__title {
    font-size: 50px;
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title-image {
    width: 1200px;
    height: 218px;
    padding-top: 64px;
  }

  .page-main__title {
    width: 820px;
  }
}
